.formLogin{
  width:300px;
  margin:0 auto;
  padding-top:30%;
  legend{display:block;
        margin-bottom:20px;
        font-size:24px}
  label{display:block}
  input{display:block;width:100%;margin-bottom:20px;border:0 none;background-color:#eee}
}